<footer class="c-page__footer">
  <p>
    <i class="far fa-copyright"></i>
    {{ site.username }} {{ 'now' | date: '%Y' }},
    content licensed
    <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">
      CC BY-NC
    </a>
  </p>

  <p>
    <a href="mailto:{{ site.email }}"><i class="far fa-2x fa-envelope"></i></a>
    <a href="https://github.com/sobolevn"><i class="fab fa-2x fa-github"></i></a>
    <a href="https://dev.to/sobolevn"><i class="fab fa-2x fa-dev"></i></a>
    <a href="https://medium.com/@sobolevn"><i class="fab fa-2x fa-medium"></i></a>
    <a href="https://stackoverflow.com/users/4842742/sobolevn"><i class="fab fa-2x fa-stack-overflow"></i></a>
  </p>
</footer>
