<header class="c-page__header">
  <h1><code>{{ site.title }}</code></h1>

  {% if page.title == nil %}
  <h2 class="c-page__subtitle">{{ site.description }}</h2>
  {% endif %}

  <p>
    <a href="{{ "/" | prepend: site.baseurl }}">Blog</a>
    <span class="u-separate"></span>
    <a href="{{ "/talks/" | prepend: site.baseurl }}">Talks</a>
    <span class="u-separate"></span>
    <a href="{{ "/activities/" | prepend: site.baseurl }}">Activities</a>
    <span class="u-separate"></span>
    <a href="{{ "/about/" | prepend: site.baseurl }}">About</a>
    <span class="u-separate"></span>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
  </p>
</header>
