/* ==========================================================================
   Variabeles
   ========================================================================== */

$c-base__03: #d23669;
$c-base__02: #163541;
$c-base__01: #404040;
$c-base__0: #869395;

// Breakpoints
$bp__sm: 45rem; // 450px
