/* ==========================================================================
   Layout
   ========================================================================== */

.u-container {
    max-width: 56rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 6rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

