/* ==========================================================================
   Article
   ========================================================================== */

.c-article {
    margin-bottom: 10rem; // 100px
}

.c-article__header {
    margin-bottom: 2rem; // 50px
    @media screen and (min-width: $bp__sm) {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
            -ms-flex-align: baseline;
                align-items: baseline;
    }
}

.c-article__title {
    @include fs--heading-1;
    color: $c-base__02;
    display: block;
    width: 100%;
}

.c-article__time {
    @include fs--body;
    color: $c-base__01;

    small {
      margin-left: 1rem;
    }
}

.c-article__main {
    @include fs--body;

    font-size: 1.1rem;
    margin-bottom: 3rem; // 50px
    color: $c-base__01;

    > * {
        margin-bottom: 1.8rem; // 18px
    }

    h2 {
        @include fs--heading-2;
        margin: 2em 0 0.5em;
    }

    h3 {
        @include fs--heading-3;
        margin: 1em 0 0.5em;
    }

    h4 {
        @include fs--heading-4;
    }

    h5 {
        @include fs--body;
    }

    strong {
        color: $c-base__02;
        font-weight: 700;
    }

    blockquote {
        margin-left: 0;
        margin-right: 0;
        padding-left: 1.8rem; // 18px
        border-left: 5px solid #ccc;
    }

    ul,
    ol {
        margin-left: 2.1rem;
    }

    ul {
        list-style: none;

        li {
            position: relative;

            &:before {
                content: "\25BA";
                left: -20px;
                position: absolute;
                font-size: 10px;
                line-height: 28px;
            }
        }
    }

    li {
        p { padding: 5px 0; }
    }

    img {
        margin: 0 auto;
        display: block;
    }

    blockquote,
    ul,
    ol,
    p,
    li,
    table,
    code,
    div.highlighter-rouge {
        margin-bottom: 1rem;
    }

    :not(pre) > code {
        margin: 0;
        display: inline-block;
    }

    table {
        border-collapse: collapse;

        tr {
            border: 1px inset;
        }

        th, td {
            padding: 10px 5px;
        }
    }

    .youtube-video,
    .twitter-tweet {
        margin: 0 auto;
        display: block;
        margin-bottom: 1rem;
    }

		.web-container {
        position: relative;
        width: 100%;
        max-width: 100%;
        height: 0;
        padding-bottom: 62.5%;
        border: 1px solid #cacaca;
        overflow: hidden;
		}

		.web-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        height: 100%;
    }

    .post-subscribe {
        text-align: center;
    }

    .post-republish {
      ul {
        li {
          margin-bottom: 0;

          &:before {
            line-height: 32px;
          }
        }
      }

      a {
        font-size: 15px;
      }
    }

    .post-translate {
      ul {
        margin-left: 0;

        li {
          display: inline-block;

          &:before {
            display: none;
            visibility: hidden;
          }
        }
      }
    }
}

.c-article__repost {
    img {
        display: inline-block;
    }
}

.c-article__subscribe {
    width: 100%;
    height: 660px;
}

@mixin input() {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.subscribe-form {
    form {
       border: 1px solid  #ccc;
       padding: 1em;
       text-align: center;
    }

    .subscribe-form__input-text {
        @include input();
        width: 50%;
        min-width: 140px;
    }

    .subscribe-form__input-submit {
        @include input();
    }

    .subscribe-form__input-submit:hover,
    .subscribe-form__input-submit:active {
        color: white;
        background-color: #d23669;
        border-color: #d23669;
        cursor: pointer;
    }
}

.pagenav {
  width: 100%;
  text-align: center;
  border: 1px solid LightGrey;
  border-left-color: transparent;
  border-right-color: transparent;
  font-size: 18px;
  overflow: hidden;
  margin-bottom: 8rem;
}

.pagenav div {
  border-color: transparent;
}

.wrapper {
  padding: 10px;
  border: 1px solid LightGrey;
  display: inline-block;
  margin: 0 auto;
}

#left {
  float: left;
  text-align: left;
}

#right {
  float: right;
  text-align: right;
}

