---
layout: page
---

<article class="c-article" itemscope="" itemtype="http://schema.org/BlogPosting">
  <header class="c-article__header">
    <h1 class="c-article__title" itemprop="name">{{ page.title }}</h1>
    <p class="c-article__time">
      <time datetime="{{ page.date | date_to_xmlschema }}"
            itemprop="datePublished">
        {{ page.date | date: "%B %-d, %Y" }}
        <small>{% include read_time.html post=page %}</small>
      </time>
    </p>
  </header>

  <!-- Post Tags -->
  <ul class="c-tags">
    {% for tag in page.tags %}
    <li class="c-tag">{{ tag }}</li>
    {% endfor %}
  </ul>

  <!-- Content -->
  <div class="c-article__main">
    <div class="c-article__body" itemprop="articleBody">
      {% include anchors.html html=content %}
    </div>

    <hr>

    {% if page.republished %}
      <h4>Republished as:</h4>
      <ul>
      {% for repost in page.republished %}
        <li><a href="{{ repost[1] }}" target="_blank">{{ repost[0] }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>

  <!-- Previous / Next Buttons -->
  <div class="pagenav">
    {% if page.previous.url %}
      <div class="wrapper" id="left">
        <small>
          <b>Previous</b> {{ page.previous.date | date: "%b %-d, %Y" }}
        </small>
        <br>
        <a class="no-hov" href="{{ page.previous.url | prepend: site.baseurl }}">
          &laquo; {{ page.previous.title }}
        </a>
      </div>
    {% endif %}

    {% if page.next.url %}
    <div class="wrapper" id="right">
      <small>{{ page.next.date | date: "%b %-d, %Y" }} <b>Next</b></small>
      <br>
      <a class="no-hov" href="{{ page.next.url | prepend: site.baseurl }}">
        {{ page.next.title }} &raquo;
      </a>
    </div>
    {% endif %}
  </div>

  <!-- Disqus comments view -->
  {% if page.comments != false and site.disqus_id %}
  <div class="post-disqus">
    {% include disqus.html %}
  </div>
  {% endif %}
</article>
