---
layout: page
---

<article class="c-article" itemscope="" itemtype="http://schema.org/BlogPosting">
  <header class="c-article__header">
    <h1 class="c-article__title" itemprop="name">{{ page.title }}</h1>
    <p class="c-article__time">
      <time datetime="{{ page.date | date_to_xmlschema }}"
            itemprop="datePublished">
        {{ page.date | date: "%B %-d, %Y" }}
      </time>
      <small>{% include read_time.html post=page %}</small>
    </p>
  </header>

  <!-- Post Tags -->
  <ul class="c-tags">
    {% for tag in page.tags %}
    <li class="c-tag">{{ tag }}</li>
    {% endfor %}
  </ul>

  <!-- Content -->
  <div class="c-article__main">
    <div class="c-article__body" itemprop="articleBody">
      {% include anchors.html html=content %}
    </div>

    <hr>

    <div class="post-subscribe">
      <h2>
        <a href="https://sobolevn.me/subscribe">
          Subscribe to my blog if you want more
        </a>
      </h2>
    </div>

    {% if page.republished %}
      <h4>Republished as:</h4>
      <ul>
      {% for repost in page.republished %}
        <li>
          <a class="c-article__repost" href="{{ repost.link }}" target="_blank">
            {{ repost.resource }} :{{ repost.language }}:
          </a>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>

  <!-- Disqus comments view -->
  {% if page.comments != false and site.disqus_id %}
  <div class="post-disqus">
    {% include disqus.html %}
  </div>
  {% endif %}
</article>
