/* ==========================================================================
   Reset
   ========================================================================== */

/* Reset Modified from Normalize.css */

/* Base Reset */

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after { box-sizing: inherit; }


html {
    min-height: 100%;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 100%; // Make it easy to calculate rems to px
    background: #fdfdfd;
}

body {
    @include ff--serif(400);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}

header a {
    padding: 5px 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include ff--sans-serif(800);
    color: $c-base__02;

    a {
      @include ff--sans-serif(800);
      color: $c-base__02;
    }
}


/* Media */
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

/* Images */

[hidden], template { display: none; }

img {
    max-width: 100%;
    font-style: italic;
    vertical-align: middle;
    border: 0;
}

svg:not(:root) { overflow: hidden; }

svg {
    pointer-events: none;
    max-height: 100%
}

.center {
  text-align: center;
}

/* Links */

a:not(.anchor) {
    color: $c-base__03;
    background-color: transparent;
    text-decoration: none;

    position: relative;
    display: inline-block;
    padding: 0px 1px;
    transition: color ease 0.3s;

    /* Hover animation effect for all buttons */
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      height: 0%;
      left: -1.5px;
      right: -1.5px;
      bottom: 0;
      background-color: $c-base__03;
      transition: all ease 0.3s;
    }

    code ~ &::after {
      left: 0;
      right: 0;
    }

    &:hover {
      color: white;
      &::after {
        height: 100%;
      }
    }

}

a.anchor {
  text-decoration: none;
}

/* Override hover animation with no-hov class */
a.no-hov {
    &:after {
        content: none;
    }

    &:hover {
        color: $c-base__03;
    }
}

a.nav {
    padding: 10px 35px;
    overflow:hidden;
}
a.nav:before {
    font-family: FontAwesome;
    content:"\f07a";
    position: absolute;
    top: 11px;
    left: -30px;
    transition: all 200ms ease;
}

abbr[title] { border-bottom: 1px dotted; }
b, strong   { font-weight: bold; }
i, em       { font-weight: italic; }

/* Content */

figure {
    margin: 0;
}


hr {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    width: 100%;
    height: 1px;
    border: 0;
    background: #EFF1F3;
}

/* Code Blocks */

pre {
  overflow: auto;
  padding: 10px;
}

:not(pre) > code {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}

small {
    color: gray;
}

